.add-room-form {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.add-room-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.add-room-form input {
  width: calc(100% - 20px);
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.add-room-form button {
  width: calc(100% - 20px);
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.add-room-form button:hover {
  background-color: #0056b3;
}
